@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}



body{
    margin: 0;
    padding: 0;
    background: #46bfb5;
    overflow: hidden;
    user-select: none;
    pointer-events: auto;
}
header {
    position: sticky;
    display: flex;
    left: 0;
    width: 100vw;
    height: 18vh;
    margin-bottom: 1vh;

    font-size: 3em;
    background: #009F93;

    justify-content: center;
    align-items: center;
}

.page-content{
    display: grid;
    grid-template-columns: 1fr 80vh 1fr;
}

.log-container{
    position: relative;
}

.log{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    overflow-y: auto;

    width: 20vw;
    height: 80vh;
    background-color: #000000;
}

.log-row {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 50px;
}

.log-row:nth-child(odd) {
    background-color: #f9f9f9;
}

.log-row:nth-child(even) {
    background-color: #ffffff;
}

.log-piece {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.log-move {
    padding: 15px;
    display: flex;
    align-items: center;
    color: #333;
}

.board{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 80vh;
}
.row{
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}
.cell{
    width: 9vh;
    height: 9vh;

    position: relative;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    transition: 150ms ease-in-out;

}

.dark
{
    background: #187352;
}
.light
{
    background: #dfdcd8;
}
.black-sprite, .white-sprite{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.selected{
    opacity: 0.5;
}
[class*="sprite"]:not(.selectable) {
    opacity: 0.5;
}
.selectable:hover{
    cursor: pointer;
    opacity: 0.7;
}
.attack-option{
    background: #aa6f6f;
}
.attack-option:hover{
    cursor: crosshair;
}
.move-option{
    width: 30%;
    height: 30%;
    background-color: #000000;
    border-radius: 50%;
    margin: auto;
}
.move-option{
    cursor: pointer;
}
